.material-icons.inactive {
    color: rgba(0, 0, 0, 0.26); 
}

.grey-text-costum {
    color: #424242 !important;
}

/* checkboxes label color */
[type="checkbox"] + label {
  color: #424242 !important;
}

/* label color */
.input-field label {
    color: #424242;
}
/* label focus color */
.input-field input[type=text]:focus + label, 
.input-field input[type=email]:focus + label{
    color: #00796b;
}
/* label underline focus color */
.input-field input[type=text]:focus, 
.input-field input[type=email]:focus {
    border-bottom: 1px solid #00796b;
    box-shadow: 0 1px 0 0 #00796b;
}
/* valid color */
.input-field input[type=email].valid {
    border-bottom: 1px solid #00796b;
    box-shadow: 0 1px 0 0 #00796b;
}
/* invalid color */
.input-field input[type=email].invalid {
    border-bottom: 1px solid #c62828;
    box-shadow: 0 1px 0 0 #c62828;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #00796b;
}

/* per la nav su telefono */
.button-collapse {
  color: #26a69a;
}

/* colore dei text della nav */
nav ul a, 
nav .brand-logo {
  color: #444;
}

/* form */
.form-fg {
    border-radius: 5px;
    background-color: #FFFFFF;
}

/* custom size for the photo at bottom of the page */
.custom {
    height: 25px;
}

.divider-active {
  height: 1px;
  overflow: hidden;
  background-color: #00796b;
}

/* per raggruppare gli elementi */
.trigger {}

/* */
.homepage-bg {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #00796b;
}

.circle {
    border: 2px solid #00796b;
}